
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif);
  height: 500px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  @apply text-xl;
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  border-radius: 10px;
  margin: 20px 0;
  display: inline-block;
}
.link_404:hover {
  background-color: black !important;
}

.contant_box_404 {
  margin-top: -50px;
}
