/*for the broke page*/
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.st0{fill:none;stroke:#000000;stroke-width:70;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{fill:#ED95BC;}
.st2{fill:#CCCCCC;}
.st3{fill:#FFC503;}
.st4{fill:#FFB000;}
.st5{fill:#FFDB63;}
.st6{fill:#FFE6BD;}
.st7{fill:#545454;}
.st8{fill:none;stroke:#29ABE2;stroke-width:4;stroke-miterlimit:10;}
.illustration {
  position: relative;
  padding-bottom: 30%;
}
.pencil-color-left,
.pencil-color-right,
.pencil-outline,
.pencil-text {
  width: 100%;
  padding-bottom: 40%;
  position: absolute;
  top: 0;
  left: 0;
}
.pencil-color {
  position: relative;
}
.illustration,
.pencil-outline,
.pencil-color {
  opacity: 0;
  transition: opacity 1s ease;
}
.pencil-color-left,
.pencil-color-right {
  -webkit-transition: transform .05s cubic-bezier(.51,1.86,.96,1.15);
  transition: transform .05s cubic-bezier(.51,1.86,.96,1.15);
  transform-origin: 50% 100%;
}
.illustration.show,
.pencil-color.show,
.pencil-outline.show {
  opacity: 1;
}
.broken .pencil-color-left {
  transform: rotate(-15deg);
}
.broken .pencil-color-right {
  transform: rotate(15deg);
}
h2.broken {
  font-size: 5vw;
  text-align: center;
  margin-top: 0;
}
